		/* Default Style */
		/*
		BLOCKQUOTE {
			margin: 10px 20px 0px 20px;
			padding: 0px;
			border: 1px solid #8d8d8d;
			background-color: #f5f5f5;
		}
		*/
		LI {margin-top: 5px;}
		UL LI UL LI {margin-top: 0px;}
	
		/* Place Holder Style */
		#Container {
			width: 720px;
			margin-left: auto;
			margin-right: auto; 
		}
		#Content {
			border: 0px solid #a2b6cb;
			padding: 5px;
		}
		/* Title Style */
		#Title {
			font-family: B Nazanin, Tahoma;
			font-size: 22pt;
			font-weight: bold;
			color: #389aff;
			border-bottom: 1px solid #389aff;
			margin-bottom: 10px;
		}
		.SubTitle {
			font-family: Tahoma, Tahoma;
			font-size: 11px;
			font-weight: bold;
			color: #5b87b4;
            text-align: center;
}
		.SubSubTitle {
			font-family: Tahoma, Tahoma;
			font-size: 14px;
			font-weight: bold;
			color: #73a4d6;
		}
		/* Tabs */
		UL#Tabs {
			font-family: B Nazanin, Tahoma;
			font-size:15pt;
			font-weight: bold;
			list-style-type: none;
			padding-bottom: 38px;
			border-bottom: 1px solid #a2b6cb;
			margin-bottom: 12px;
			margin-top:-10px;
			z-index: 1;
		}
		#Tabs LI.Tab {
			float: right;
			height: 35px;
			background-color: #9cdcf6;
			margin: 2px 0px 0px -1px;
			border: 1px solid #a2b6cb;
		}
		#Tabs LI.Tab A {
			float: left;
			display: block;
			color: #000000;
			text-decoration: none;
			padding: 5px;
		}
		#Tabs LI.Tab A:hover {
			background-color: #003362;
			border-bottom: 1px solid #bfe0fe;
			color:#ffda0a;
		}
		/* Selected Tab */
		#Tabs LI.SelectedTab 
		{
			float: right;
			height: 35px;
			background-color: #fafafa;
			margin: 2px 0px 0px -1px;
			border-top: 1px solid #a2b6cb;
			border-right: 1px solid #a2b6cb;
			border-bottom: 1px solid #fafafa;
			border-left: 1px solid #a2b6cb;
		}
		#Tabs LI.SelectedTab A {
			float: left;
			display: block;
			color: #666666;
			text-decoration: none;
			padding: 5px;
			cursor: default;
		}
		
		
